.formulario {
    display: grid;
    grid-template-rows: 1fr 1 fr 1fr;
    gap: 20px;
    margin: 20px 0 0 0;
}

.label {
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 2px solid #d1d1d1;
    border-radius: 3px;
}

.button {
    background: #83d394;
    display: inline-block;
    padding: 20px;

}








